# ===Requirements for Google Generative AI===
langchain==0.3.26
flask==3.1.1
sentence-transformers==4.1.0
pypdf==5.6.1
python-dotenv==1.1.0
langchain-pinecone==0.2.8
langchain-google-genai==2.1.8
# google-generativeai is not required here and can conflict with langchain-google-genai
# Google Gemini
google-ai-generativelanguage==0.6.18
langchain-community==0.3.26
-e .
